*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{

    height: 6rem;
    background-color: orange;
}
 header ul{
 display: flex;
 height: 100%;
 align-items: center;
 
 
 }
header ul li{
   padding:0 3rem;
    list-style: none;
    
    
}

img{
    display: flex;
    width: 30%;
    margin-left: 6rem;
  
}

.courses-box{
    display: flex;
    height: 20rem;
    width: 20%;
    background-color:khaki;
    border-radius: 0.5rem;
    flex-direction: column;
    justify-content: space-around;
   text-align: center;

}

.wrapper{
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

footer{

    background-color: gray;
    color: white;
    text-align: center;
    height: 6rem;
    margin-top: 6rem;
    margin-bottom: 0;
}